* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Header Style Start */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div a {
    padding: 15px;
    margin: 7px 0;
    color: #ffffff;
    text-decoration: underline;
}
/* Header Style End */

/* Hero Style Start */
.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/onlineportfoliobackground.jpeg");
    background-size: cover;
    background-position: center;
}
/* Hero Style End */

/* Content Start */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    display: flex;
}

.content-section-heading {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    width: 25%;
    border-right: 3px solid #333;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-section-body {
    width: 70%;
}

.work-flexbox {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-item {
    display: flex;
    justify-content: space-between;
}

/* Content End*/